<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tender.hellojack">

    <application
        android:name=".manager.MyApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/hj_AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="p1IPBbhKrAbCgqk0zGTPSS6VMz4fdnOu" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MineActivity"/>
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".HomeActivity"/>
        <activity android:name=".ShowBigImageActivity"/>
    </application>

</manifest>